body {
  font-family: 'Josefin Sans', sans-serif;
  overflow-x: hidden;
  font-size: 1.75vw;
}

.testingSpacer {
  line-height: 500px;
}

a {
  text-decoration: none;
  color: #ff7f5b;
  transition-duration: 0.3s;
}
a:hover {
  color: #ff4d1c;
  text-decoration: underline;
  transition-duration: 0.3s;
}
/* ||||||||||||||||||||||||||||||||||||||||||||| */
/*                      Top                      */
/* ||||||||||||||||||||||||||||||||||||||||||||| */

.header {
  border-radius: 25px;
  background-color: #ff7f5b;
  padding-left: 3vw;
  padding-right: 3vw;
  margin-bottom: 5.7vw;
}

.title {
  font-size: 7vw;
  color: #fff;
}

.subtitle {
  color: #fff;
  margin-top: -4.7vw;
  font-size: 5vw;
}

.supersecrettitle {
  display: none;
  font-size: 8vw;
}

.logo {
  width: 10%;
  height: 10%;
  margin-bottom: -10vw;
  position: relative;
  right: 44vw;
}

/* ||||||||||||||||||||||||||||||||||||||||||||| */
/*                   Media tags                  */
/* ||||||||||||||||||||||||||||||||||||||||||||| */

@media screen and (max-width: 720px) {
  .subtitle {
    display: none;
  }
  .title {
    font-size: 13vw;
  }
  .logo {
    right: 0;
    width: 17%;
    height: 17%;
  }
  .IBONE-sectionOne {
    font-size: 5vw;
  }
}

@media print {
  .supersecrettitle {
    display: block;
  }
  .title {
    display: none;
  }
}

/* ||||||||||||||||||||||||||||||||||||||||||||| */
/*                   Section 1                   */
/* ||||||||||||||||||||||||||||||||||||||||||||| */

.infoBoxOne {
  background-color: #9bc1ff;
  margin-top: -4vw;
  border-radius: 15px;
  padding-top: 1vw;
  width: 92%;
  margin-bottom: 1vw;
}
.IBONE-welcome {
  margin-top: 1vw;
  font-size: 5vw;
}

.IBONE-sectionOne {
  margin-top: -4vw;
  width: 90%;
  padding-bottom: 4vw;
}

/* ||||||||||||||||||||||||||||||||||||||||||||| */
/*                   Section 2                   */
/* ||||||||||||||||||||||||||||||||||||||||||||| */

.infoBoxTwo {
  border-radius: 15px;
  background-color: #e495f9;
  width: 92%;
  padding-bottom: 3vw;
}
.IBTWO-portfolio {
  margin-top: 1vw;
  font-size: 5vw;
  padding-top: 2vw;
}
.IBTWO-featured, .IBTWO-allProjects {
  font-size: 3vw;
}
.IBTWO-projBG {
  padding-top: 5vw;
  background-color: rgba(238,238,238,0.2);
  border-radius: 10px;

}
.IBTWO-sectionOne {
  margin-top: -4vw;
  width: 90%;
}
.IBTWO-sectionTwo {
  width: 90%;
}

.IBTWO-projects-t {
  border-radius: 10px;
  background-color: #fff;
  width: 20vw;
  height: 20vw;
  margin-right: 20vw;
  margin-bottom: 5vw;
}
.IBTWO-projects-b {
  border-radius: 10px;
  background-color: #fff;
  width: 20vw;
  height: 20vw;
  margin-left: 20vw;
  margin-bottom: 5vw;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.IBTWO-projects-download {
  opacity: 0;
  transition-duration: 0.3s;
  width: 20vw;
  height: 20vw;
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  right: 0;
  border-radius: 10px;
}


.IBTWO-projects-download:hover {
  opacity: 1;
}

/* ||||||||||||||||||||||||||||||||||||||||||||| */
/*                   Scrollbar                   */
/* ||||||||||||||||||||||||||||||||||||||||||||| */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Handle on click */
::-webkit-scrollbar-thumb:active {
  background: #333;
}
