body {
  font-family: 'Josefin Sans', sans-serif;
  overflow-x: hidden;
}

.header {
  border-radius: 25px;
  background-color: #ff7f5b;
  padding-left: 3vw;
  padding-right: 3vw;
  margin-bottom: 5.7vw;
}

.title {
  font-size: 7vw;
}

.subtitle {
  margin-top: -4.7vw;
  font-size: 5vw;
}

.headerTitlePew {
  display: none;
  font-size: 8vw;
}

.logo {
  width: 10%;
  height: 10%;
  margin-bottom: -5vw;
  position: relative;
  right: 44vw;
}

@media screen and (max-width: 720px) {
  .subtitle {
    display: none;
  }
  .title {
    font-size: 13vw;
  }
  .logo {
    right: 0;
    width: 17%;
    height: 17%;
  }
}

@media print {
  .headerTitlePew {
    display: block;
  }
  .title {
    display: none;
  }
}
.infoBoxOne {
  background-color: #9bc1ff;
  margin-top: -4vw;
  border-radius: 15px;
  padding-top: 1vw;
  width: 92%;
}
.IBONE-welcome {
  margin-top: 1vw;
  font-size: 5vw;
}

.IBONE-sectionOne {
  background-color: #fff;
  opacity: 0.7;
  width: 90%;
  border-radius: 5px;
}
.testingSpacer {
  line-height: 600px;
}
