body {
  font-family: 'Josefin Sans', sans-serif;
  overflow-x: hidden;
}

.header {
  margin-top: -5vw;
  background-color: #ababab;
  padding-top: 5vw;
  padding-left: 3vw;
  margin-left: -3vw;
  padding-right: 3vw;
  margin-right: -3vw;
}

.headerTitle {
  font-size: 8vw;
}

.headerTitleTwo {
  margin-top: -6vw;
  font-size: 6vw;
}

@media screen and (max-width: 480px) {
  .headerTitleTwo {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .headerTitle {
    font-size: 13vw;
  }
}
.logo {
  width: 10%;
  height: 10%;
  margin-bottom: -10vw;
  position: relative;
  right: 25vw;
}
